!!!5
%html{class:"no-js", lang:"es"}
	%head 
		%meta{charset:"utf-8"}
		%title La mejor comida en Restaurante
		%link{rel:"stylesheet", href:"offline/style.css"}
		%meta{name:"description", content:"Come rico en el mejor restaurante de la ciudad, servicio de primera."}
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
	%body
		%p#message Parece que no pudimos conectarnos a interne, no hay problema, aqui esta la informacion que necesitas.
		.container
			%h1 Restaurant
			%p
				%strong Direccion
				Direccion 1
			%p
				%strong Horario
				5pn - 11pm
			%p
				%strong Telefono
				123456789
			%p
				%strong Descripcion
				Descripcion
			#map
				%img{src:"offline/map.png"}
				%p Este mapa ofrece referencias del lugar del restaurante
